[user]
	name = Tazro Inutano Ohta
	email = inutano@gmail.com

[github]
	user = inutano

[core]
	editor = nano
	autocrlf = input

[color]
	ui = auto

[alias]
	cmt = commit -m
	st = status
	hist = log --pretty=format:"%h %ad | %s%d [%an]" --graph --date=short
	ls = ls-files
